<header class="header">
  <nav class="navbar">
    <a href=""><b>AlugaJá</b></a>
    <a href="/Logar">Login</a>
    <a href="/Cadastrar">Cadastro</a>
    <a href="/Chat">Contato</a>

  </nav>
</header>


<section class="main-container">
  <div class="formulario-container">
    <h2>Esqueci minha senha</h2>
    <p>Insira seu e-mail para receber instruções de recuperação.</p>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <!-- E-mail -->
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input id="email" type="email" formControlName="email">
        @if (formulario.get('email')?.invalid && formulario.get('email')?.touched) {
          <div class="error-message">
            <small *ngIf="formulario.get('email')?.errors?.['required']">O e-mail é obrigatório.</small>
            <small *ngIf="formulario.get('email')?.errors?.['email']">Insira um e-mail válido.</small>
          </div>
        }
      </div>

      <!-- Botão de Envio -->
      <button type="submit" [disabled]="formulario.invalid">Enviar E-mail</button>
    </form>

    <!-- Mensagem de Feedback -->
    @if (mensagemFeedback) {
      <div class="feedback-message">
        <p>{{ mensagemFeedback }}</p>
      </div>
    }
  </div>
</section>