<div class="catalogo-container">
  <h1>Catálogo de Imóveis</h1>
  <h2>Imóveis Disponíveis</h2>

  <br>
  <div class="imoveis">
      <!-- Div com imagem 1 -->
      <div class="imoveis">
        <a href="https://sp.olx.com.br/sao-paulo-e-regiao/imoveis/apartamento-130m2-com-03-suites-reformado-e-com-ar-condicionado-1378979940?lis=listing_1000" class="imovel-link" target="_blank">
            <div class="imovel">
                <img src="./assets/apartamento1.png" alt="Imóvel 1" class="imovel-imagem">
                <p>Apartamento com 03 suítes</p>
            </div>
        </a>
    </div>
      <!-- Div com imagem 2 -->
      <div class="imovel">
        <a href="https://sp.olx.com.br/sao-paulo-e-regiao/imoveis/imovel-para-venda-possui-182-metros-quadrados-com-3-quartos-em-chacaras-maringa-atibaia-1378978993?lis=listing_1000" class="imovel-link" target="_blank">
          <div class="imovel">
        <img src="./assets/casa2.png"alt="Imóvel 2" class="imovel-imagem">
          <p> Casa para venda</p>
      </div>
    </a>
  </div>
      <!-- Div com imagem 3 -->
      <div class="imoveis">
        <a href="https://ba.olx.com.br/grande-salvador/imoveis/casa-para-venda-com-4-4-alphaville-1-salvador-bahia-1378980450?lis=listing_1000"   class="imovel-link" target="_blank">
            <div class="imovel">
                <img src="./assets/casa3.png" alt="Imóvel 3" class="imovel-imagem">
                <p>Casa para venda</p>
            </div>
        </a>
    </div>
    
    <div class="imoveis">
      <a href="https://imoveis.mitula.com.br/adclickdetail/mitula-BR-6970002730193237420?search_terms=aluguel-casas-luxo-salvador&page=1&pos=4&t_sec=97&t_pvid=845f32bc-3a4a-4b4a-8a52-7fecace6bba1&clickin=true&hd=false&type=leadgen" class="imovel-link" target="_blank">
          <div class="imovel">
              <img src="./assets/casa4.png" alt="" class="imovel-imagem">
              <p>Cobertura para Alugar</p>
          </div>
      </a>
  </div>
    <!-- Div com imagem 2 -->
    <div class="imoveis">
      <a href="https://imoveis.mitula.com.br/adclickdetail/mitula-BR-3880003729593636347?search_terms=&page=1&pos=2&t_sec=113&t_pvid=845f32bc-3a4a-4b4a-8a52-7fecace6bba1&clickin=true&hd=false&type=leadgen" class="imovel-link" target="_blank">
          <div class="imovel">
              <img src="./assets/casa5.png" alt="Imóvel 5" class="imovel-imagem">
              <p>Apartamento para alugar </p>
          </div>
      </a>
  </div>
    <!-- Div com imagem 3 -->
    <div class="imoveis">
      <a href="https://ba.olx.com.br/grande-salvador/imoveis/casa-para-venda-em-salvador-stella-maris-4-dormitorios-2-suites-4-banheiros-3-vagas-1378944551?lis=listing_1001" class="imovel-link" target="_blank">
          <div class="imovel">
              <img src="./assets/casa6.png" alt="Imóvel 6" class="imovel-imagem">
              <p>Casa a venda</p>
          </div>
      </a>
  </div>

  <br>
  
  <div class="imoveis">
    <a href="https://ba.olx.com.br/grande-salvador/imoveis/casa-de-luxo-4-quartos-em-stella-maris-condominio-fechado-oportunidade-4-4-luxo-1378564991?lis=listing_1001" class="imovel-link" target="_blank">
        <div class="imovel">
            <img src="./assets/casa7.png" alt="Imóvel 7" class="imovel-imagem">
            <p>Casa a venda</p>
        </div>
    </a>
</div>
  
<div class="imoveis">
  <a href="https://rj.olx.com.br/rio-de-janeiro-e-regiao/imoveis/casa-com-4-dormitorios-a-venda-166-m-por-r-1-200-000-00-sape-niteroi-rj-1378987163?lis=listing_1001" class="imovel-link" target="_blank">
      <div class="imovel">
          <img src="./assets/casa8.png" alt="Imóvel 8" class="imovel-imagem">
          <p>Casa a venda</p>
      </div>
  </a>
</div>


<div class="imoveis">
  <a href="https://rj.olx.com.br/rio-de-janeiro-e-regiao/imoveis/apartamento-com-1-dormitorio-para-alugar-24-m-por-r-1-050-00-mes-taumaturgo-teresop-1378966957?lis=listing_1002" class="imovel-link" target="_blank">
      <div class="imovel">
          <img src="./assets/casa10.png" alt="Imóvel 8" class="imovel-imagem">
          <p>Apartamento para alugar</p>
      </div>
  </a>
</div>

<div class="imoveis">
  <a href="https://rj.olx.com.br/rio-de-janeiro-e-regiao/imoveis/apartamento-4-quartos-a-duas-quadras-da-praia-e-na-esquina-do-metro-1378749795?lis=listing_1002" class="imovel-link" target="_blank">
      <div class="imovel">
          <img src="./assets/casa11.png" alt="Imóvel 8" class="imovel-imagem">
          <p>Apartamento para alugar</p>
      </div>
  </a>
</div>

<div class="imoveis">
  <a href="https://sp.olx.com.br/regiao-de-bauru-e-marilia/imoveis/apartamento-para-venda-178-m-com-3-suites-em-jau-sp-alvorada-1377544835?lis=listing_1002" class="imovel-link" target="_blank">
      <div class="imovel">
          <img src="./assets/casa14.png" alt="Imóvel 8" class="imovel-imagem">
          <p>Apartamento para venda</p>
      </div>
  </a>
</div>

<div class="imoveis">
  <a href="https://sp.olx.com.br/regiao-de-bauru-e-marilia/imoveis/apartamento-padrao-em-jau-1375821993?lis=listing_1002" class="imovel-link" target="_blank">
      <div class="imovel">
          <img src="./assets/casa15.png" alt="Imóvel 8" class="imovel-imagem">
          <p>Apartamento para venda</p>
      </div>
  </a>
</div>
</div>
</div>

