<app-header />

<img src="../../../assets/aluguel .png" class="logo">
<div class="login-container">
  <h1>Fazer Login</h1>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" [(ngModel)]="localEmail" required
        placeholder="Digite seu e-mail" />
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" [(ngModel)]="localSenha" required
        placeholder="Digite sua senha" />
    </div>

    <button type="submit" [disabled]="!loginForm.form.valid">Entrar</button>
  </form>

  <div class="links">
    <a href="/Recuperar-senha">Esqueceu a senha?</a>
    <a href="/Cadastrar">Não tem uma conta? Cadastre-se</a>
  </div>
</div>